<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Wellness Journeys Yoga</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">

<!-- Bootstrap Core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

<!-- <! Custom CSS --> 
    <link href="../assets/css/business-casual.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

<!-- JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<style type="text/css">
			body {
				color: #666666;
				background-image: url("../assets/images/background-texture.jpg");
				background-position: center;
				font-family: Georgia, Times, serif;
				line-height: 1.4em;
				margin: 0px;}
			.wrapper {
				width: 940px;
				margin: 5px auto 20px auto;
				background-color: inherit;
				background:  ;}
			.nav-header {
				height: 50px;
				width: 50px;
				background:  url(../assets/images/zen_yoga.jpg) no-repeat top left;
				}
		</style>
{{{ body }}}

	</head>
	<body>
		  <nav role ='top-menu-bar'>
    <div class='nav-header'><a href="" font="italics"</a></div>
      <li role="presentation"><a href="">Wellness Journey</a></li>
  	  <li role="presentation"><a href="../public/index.html">Home</a></li>
  	  <li role="presentation"><a href="../public/about.html">About</a></li>
  	  <li role="presentation"><a href="../public/contact.html#">Contact</a></li><br><br><br>
  </nav>

<div class='wj-sub-header'>
  	<header>
  		<h1>Wellness Journey</h1>
  			<center>
  				<a href="../public/yoga_learn_poses.html">Read About Yoga Poses</a>
  				<a href="../public/yoga_create.html">Practice Yoga Poses</a>
  				<a href="../public/yoga_videos.html">Do Yoga Videos</a>
  				<a href="../public/yoga_restore.html">Restore/Rejuvenate</a>
  			</center>
  	</header>
</div><br><br><br><br><br>



	<footer>
		<div class="container">
			&copy; Copyright 2016 Lisa VanOrden-Kaan
		</div>
	</footer>

	</body>
</HTML>
