    <style type="text/css">
			body {
				color: #666666;
				background-image: url("../assets/images/background-texture.jpg");
				background-position: center;
				font-family: Georgia, Times, serif;
				line-height: 1.4em;
				margin: 0px;}
			.wrapper {
				width: 940px;
				margin: 5px auto 20px auto;
				background-color: inherit;
				background:  ;}
			.nav-header {
				height: 50px;
				width: 50px;
				background:  url(../assets/images/zen_yoga.jpg) no-repeat top left;
				}
		</style>
			
</head>
<body>

  <nav role ='top-menu-bar'>
    <div class='nav-header'><a href="" font="italics"</a></div>
      <li role="presentation"><a href="">Wellness Journey</a></li>
  	  <li role="presentation"><a href="../public/index.html">Home</a></li>
  	  <li role="presentation"><a href="../public/about.html">About</a></li>
  	  <li role="presentation"><a href="../public/contact.html#">Contact</a></li><br><br><br>
  </nav>

<div class='wj-sub-header'>
  	<header>
  		<h1>Wellness Journey</h1>
  			<center>
  				<a href="../public/yoga_learn_poses.html">Read About Yoga Poses</a>
  				<a href="../public/yoga_create.html">Practice Yoga Poses</a>
  				<a href="../public/yoga_videos.html">Do Yoga Videos</a>
  				<a href="../public/yoga_restore.html">Restore/Rejuvenate</a>
  			</center>
  	</header>
</div><br><br><br><br><br>

	<div class="wrapper">
		<section class="contact">
			<h1>Contact</h1>
			<form id="contact-form">

				<ul>
					<li>
						<label for="name">Name</label>
						<input type="text" id="name" name="name" placeholder="Type your name here" required="required">
					</li>
					<li>
						<label for="email">Email</label>
						<input type="email" id="email" name="email" placeholder="example@gmail.com" required="required">
					</li>
					<li>
						<label for="message">Message</label>
						<textarea id="message" name="message" required="required"></textarea>
					</li>
				</ul>
				<input type="submit">
			</form>

		</section>

	<div class="wrapper"><br><br>
    <aside>
    <section class="sidebar">
    <div id="about">

		<section class="create-description">
			<h2>Please send us your comments!</h2>
			<a href="">We appreciate your feedback</a>
		</section><br><br><br><br>
		<section class="contact-details">
			<h2>Email comments to: </h2>
			<p>lmvanorden@gmail.com<br />
				Lisa VanOrden-Kaan, RYT</p>
      	</section>
    </div> <!-- //2nd wrapper -->
    </section>
    </aside>

</div><!-- //.wrapper -->


	<footer>
		<div class="container">
			&copy; Copyright 2016 Lisa VanOrden-Kaan
		</div>
	</footer>
</body>
</html>