<h1>Yogis!</h1>

<h2>Add a User</h2>

{{#if logged_in}}
  <form class="create-update-form" action="yogis/create" method="POST">

    <div class="form-group">
      <label for="ca">Yogi Name:</label>
      <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
      <label for="sl">Is User a Yogi</label><br>
      <input type="radio" name="isyogi" value="1" checked> Is Yogi!<br>
      <input type="radio" name="isyogi" value="0"> Awake
    </div>

    <button type="submit">Add Yogi</button>
  </form>
{{else}}
  You can add a yogi in if you're logged in.
{{/if}}

<h2>Users that are not Yogis!</h2>

<ul>
  {{#each yogis}}
    {{#unless this.isyogi}}
      <li>
        {{this.name}}

        <form action="yogis/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="isyogis" value="true">
          <button type="submit">Yoga Time!</button>
        </form>

        {{> yogis/delete-yogis}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Yogis that are isyogis!</h2>

<ul>
  {{#each yogis}}
    {{#if this.isyogi}}
      <li>
        {{this.name}}

        <form action="yogis/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="isyogis" value="false">
          <button type="submit">Yoga UP!</button>
        </form>

        {{> yogis/delete-yogis}}
      </li>
    {{/if}}
  {{/each}}
</ul>
