<style type="text/css">
      body {
        color: #666666;
        background-image: url("../assets/images/bg5.jpg");
        background-position: center;
        font-family: Georgia, Times, serif;
        line-height: 1.4em;
        margin: 0px;}

      .nav-header {
        height: 50px;
        width: 50px;
        background:  url(../assets/images/zen_yoga.jpg) no-repeat top left;
        }

    </style>
</head>

<body>
<nav = 'top-menu-bar'>
  <div class='nav-header'><a href="" font="italics"</a></div>
    <li role="presentation"><a href="">Wellness Journey</a></li>
    <li role="presentation"><a href="../public/index.html">Home</a></li>
    <li role="presentation"><a href="../public/about.html">About</a></li>
    <li role="presentation"><a href="../public/contact.html#">Contact</a></li><br><br><br>
</div>
</nav>
<div class='wj-sub-header'>
  <header>
    <h1>Wellness Journey</h1>
      <center>
        <a href="../public/yoga_learn_poses.html">Read About Yoga Poses</a>
        <a href="../public/yoga_create.html">Practice Yoga Poses</a>
        <a href="../public/yoga_videos.html">Do Yoga Videos</a>
        <a href="../public/yoga_restore.html">Restore/Rejuvenate</a>
      </center>
  </header>
</div><br><br><br><br><br><br>

<nav class="navbar navbar-transparent">
  <h2 class="initialHeader"><center>Links to learn about Yoga poses</h2></center>
  <h2><center>'CLICK ON' English name of pose in the 'link' column for more information about a Yoga pose . . . </h2>
</center>
</div>
 
<div class="container-page">
        <table role="grid" style="width: 55%;">
           <table border ="1" style="width:100">
<table class="table table-hover">
  <thead>
    <tr>
      <th>English Name</th>
      <th>Sanskrit Name</th>
      <th>Body ailment</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>Twist</td>
    <td>Bharadvaja’s Twist</td>   
    <td>Back</td>
    <td><a href="http://www.yogajournal.com/pose/bharadvaja-s-twist/">Hip Twist Pose</a></td>
  </tr>
  <tr>
    <td>Paripurna Navasana</td>
    <td>Boat Pose</td>    
    <td>Back</td>
    <td><a href="http://www.yogajournal.com/pose/full-boat-pose/">Boat Pose</a></td>
  </tr>
  <tr>
    <td>Baddha Konasana</td>
    <td>Bound Angle Pose</td>   
    <td>Core</td>
    <td><a href="http://www.yogajournal.com/pose/bound-angle-pose/">Bound Angle Pose</a></td>
  </tr>
  <tr>
    <td>Dhanurasana</td>
    <td>Bow Pose</td>   
    <td>Hip Opening</td>
    <td><a href="http://www.yogajournal.com/pose/bow-pose/">Bow Pose</a></td>
  </tr>
  <tr>
    <td>Setu Bandha Sarvangasana</td>
    <td>Bridge Pose</td>    
    <td>Chest Opening</td>
    <td><a href=<a href="http://www.yogajournal.com/pose/bridge-pose/">Bridge Pose</a></td>
  </tr>
  <tr>
    <td>Ustrasana</td>
  <td>Camel Pose</td>
  <td>Backbends</td>
  <td><a href="http://www.yogajournal.com/pose/camel-pose/">Camel Pose</a></td>
   </tr>  
   <tr>
    <td>Marjaryasana</td>
    <td>Cat Pose</td>   
    <td>Backbends</td>
    <td><a href="http://www.yogajournal.com/pose/cat-pose/">Cat Pose</a></td>
  </tr>
    <tr>
    <td>Bitilasana</td>
    <td>Cow Pose</td>   
    <td>Back</td>
    <td><a href="http://www.yogajournal.com/pose/cow-pose/">Cow Pose</a></td>
  </tr>
  <tr>
    <td>Utkatasana</td>
    <td>Chair Pose</td>   
    <td>Core</td>
    <td><a href="http://www.yogajournal.com/pose/chair-pose/">Chair Pose</a></td>
  </tr>
  <tr>
    <td>Balasana</td>
    <td>Child's Pose</td>   
    <td>Restorative</td>
    <td><a href="http://www.yogajournal.com/pose/child-s-pose/">Child's Pose</a></td>
   </tr>
   <tr>
    <td>Bhujangasana</td>
    <td>Cobra Pose</td>   
    <td>Back</td>
    <td><a href="http://www.yogajournal.com/pose/cobra-pose/">Cobra Pose</a></td>
  </tr>
  <tr>
    <td>Savasana</td>
    <td>Corpse Pose</td>    
    <td>Restorative</td>
    <td><a href="http://www.yogajournal.com/pose/corpse-pose/">Corpse Pose</a></td>
  </tr>
  <tr>
    <td>Adho Mukha Svanasana</td>
    <td>Downward Facing Dog</td>    
    <td>Inversion/Strengthening</td>
    <td><a href="http://www.yogajournal.com/pose/downward-facing-dog/">Downward Facing Dog</a> </td>
  </tr>
  <tr>
    <td>Sukhasana</td>
    <td>Easy Pose</td>    
    <td>Seated Yoga pose</td>
    <td><a href="http://www.yogajournal.com/pose/easy-pose/">Easy Pose</a> </td>
  </tr>
  <tr>
    <td>Utthita Trikonasana</td>    
    <td>Extended Triangle Pose</td>
    <td>Core</td> 
    <td><a href="http://www.yogajournal.com/pose/extended-triangle-pose/">Extended Triangle</a> </td>
  </tr>
  <tr>
    <td>Matsyasana</td>
    <td>Fish Pose</td>    
    <td>Backbends</td>
    <td><a href="http://www.yogajournal.com/pose/fish-pose/">Fish Pose</a></td>
  </tr>
  <tr>
    <td>Virasana</td>
    <td>Hero Pose</td>    
    <td>Back</td>
    <td><a href="http://www.yogajournal.com/pose/hero-pose/">Hero Pose</a></td>
  </tr>
  

</tbody>
</table>

</div>

</body>
</html>
