<style type="text/css">
    body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../assets/images/bg5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .nav-header {
        height: 50px;
        width: 50px;
        padding: 10px;
        background:  url(../assets/images/zen_yoga.jpg) no-repeat top left;
        }
/*      wj-sub-header {
        height: 0px;
        width: 0px;
        padding: 0px;
        }*/
</style>

</head>
<body>
  <nav role ='top-menu-bar'>
    <div class='nav-header'><a href="" font="italics"</a></div>
      <li role="presentation"><a href="">Wellness Journey</a></li>
      <li role="presentation"><a href="../public/index.html">Home</a></li>
      <li role="presentation"><a href="../public/about.html">About</a></li>
      <li role="presentation"><a href="../public/contact.html#">Contact</a></li><br><br><br>
  </nav>
<!-- <div class="container"> -->
  <div class='page-header'>
    <header id="masthead1">
    <div class="jumbotron"style="background-color: transparent !important">
        <center><h2 class="text-center1">Yoga Videos</h2>
        </center>
    </div>
    <h2><center>Continue on Your Yoga Journey with Practice Videos!</center></h2>
  </div>
</div><br><br><br><br>

  <div class='wj-sub-header'>
    <header>
      <h1>Wellness Journey</h1>
        <center>
          <a href="../public/yoga_learn_poses.html">Read About Yoga Poses</a>
          <a href="../public/yoga_create.html">Practice Yoga Poses</a>
          <a href="../public/yoga_videos.html">Do Yoga Videos</a>
          <a href="../public/yoga_restore.html">Restore/Rejuvenate</a>
        </center>
    </header>
  </div><br><br><br><br>

<div class="container-fluid"><center>
<br><br>
  <div class=videos>
    <h4 id="Yoga-to-Warm-Your-Body">Yoga to Warm Your Body</h4>
        <a href="https://www.youtube.com/watch?v=25H3cWIMXwY" target="_blank">Click - Begin and Warm Up Your Body</a>
        <li>Appx Time 15 minutes</li>

        <div id=""></div>
    <h4 id="Yoga-for-Shoulders">Yoga to open your Shoulders</h4>
        <a href="https://www.youtube.com/watch?v=AHgBdod8daQ&list=PLYZ1JGdHrzfCamK6UzbIyENU07gLhVhRI">Shoulder opening series</a>
        <li>Appx time 19 minutes</li>
    <h4 id="Yoga-standing">Standing Sequences</h4>
        <a href="https://www.youtube.com/watch?v=jjJFNgMMKSE">Standing sequence</a>
        <li>Apprx Time 21 minutes</li>
    <h4 id="Yoga-for-Core">Yoga to open your Core</h4>
        <a href="https://www.youtube.com/watch?v=6GHQYLQmGgk">Yoga to go Core strength</a>
        <li>Apprx Time 23 minutes</li>
    <h4 id="Yoga-Moon-Salutations">Yoga Moon Salutations</h4>
        <a href="https://www.youtube.com/watch?v=W-sJE4JvEuw">Moon Shine with Shiva Rea</a>
        <li>Appx Time 6 minutes</li>
 
</center></div>

